@define-color bg_primary rgba(0, 0, 0, 0.55);
@define-color bg_hover   rgba(0, 0, 0, 0.5);
@define-color fg_base    #dcd7ba;
@define-color fg_active  #7aa89f;
@define-color red      #e46876;
@define-color blue     #7e9cd8;
@define-color yellow   #e6c384;
@define-color green    #98bb6c;
@define-color purple   #957fb8;
@define-color mint     #7aa89f;


* {
    font-family: JetbrainsMono Nerd Font;
    font-size: 10px;
    min-height: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
}

#waybar {
    background: transparent;
    color: #dcd7ba;
    margin: 2px 2px;
}

.modules-center {
    background: transparent;
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
    background: @bg_primary;
    margin-left: 2px;
}

#workspaces button {
    color: @purple;
    border-radius: 5px;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @mint;
    border-radius: 5px;
}

button {
    background: transparent;
}

#workspaces button:hover {
    background: @bg_hover;
    border: 0px solid transparent;
}

#custom-music,
#bluetooth,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-ip,
#custom-docker {
    background-color: @bg_primary;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#network {
    color: @blue;
}

#clock {
    color: @blue;
    border-radius: 5px;
    background: @bg_primary;
}

#custom-weather {
    color: @blue;
    margin-left: 0.5rem;
    border-radius: 5px;
}

#temperature.critical {
    color: @red;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    color: @red;
    border-radius: 5px 0px 0px 5px;
}

#custom-docker {
    color: #7fb4ca;
}

#bluetooth {
    color: @blue;
}

#custom-ip {
    color: @blue;
    border-radius: 5px 5px 5px 5px;
}

#custom-music {
    color: @purple;
    border-radius: 5px;
}

#custom-lock {
    color: @purple;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 5px 5px 0px;
    color: @red;
}

#custom-docker.docker {
    color: @blue;
}

#custom-docker.docker-none {
    color: #727169;
}

#custom-docker.docker-error {
    color: @red;
}

#custom-weather.clear {
    color: @yellow; /* Sunny yellow */
}

#custom-weather.cloud {
    color: @mint; /* Light blue */
}

#custom-weather.rain {
    color: @blue; /* Blue */
}

#custom-weather.snow {
    color: #dcd7ba; /* White-ish */
}

#custom-weather.thunder {
    color: @purple; /* Purple */
}

#custom-weather.fog {
    color: #727169; /* Gray */
}

#custom-weather.error {
    color: @red; /* Red */
}

#custom-tailscale.connected {
    color: @blue;
}

#custom-tailscale.disconnected {
    color: #727169;
}

#custom-tailscale.error {
    color: @red; /* Red */
}
